<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ECGDemo">  <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />


    <application
        android:allowBackup="true"
        android:label="ECGDemo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cgmdemo">
        <activity
            android:name="com.example.ECGDemo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HeartMonitorActivity"
            android:screenOrientation="landscape"
            android:label="ECG Monitor"
            android:parentActivityName="com.example.ECGDemo.MainActivity"/>

        <activity
            android:name=".BloodPressureActivity"
            android:label="BP Monitor"
            android:screenOrientation="portrait" />

        <activity
            android:name=".VitalSignsActivity"
            android:label="Vital Signs"
            android:screenOrientation="portrait" />

    </application>

</manifest>