<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cgmdemo">

    <!-- 旧版权限（targetSdk < 31 仍然有效） -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 用于扫描/连接蓝牙设备（Android 12+） -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        android:required="false" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        android:required="false" />

    <!-- 有些机型要求位置权限才能扫描经典蓝牙 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cgmdemo">   <!-- ⬅ 关键 -->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
